@model XK.Models.xk_Course
@{
    ViewBag.Title = "ShowScore";
    Layout = "~/Views/Home/tecLogin.cshtml";
}
<div class="row">
	<br />
	<div class="col-md-6">
		@using (Ajax.BeginForm("doShowScore", "Teacher", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Ajaxshow", InsertionMode = InsertionMode.Replace }))
		{
			<div class="input-group">
				<div class="input-group-addon">开课ID</div>
				@Html.TextBoxFor(m => m.cor_cid, new { @class = "form-control" })
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">确定</button>
				</span>
			</div>
		}
	</div>
</div>
<div class="row">
	<div id="Ajaxshow">

	</div>
</div>
