@{
    ViewBag.Title = "SelectCourse";
}

<h2>SelectCourse</h2>
<hr />
@ViewBag.term.Count



<hr />
@ViewBag.x

<select>
    text
        @foreach (string item in ViewBag.term)
        {
            <option value="@item">@item</option>
        }
</select>
