<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../css/home.css" rel="stylesheet" />
    <link href="../../css/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="header">
        <div class="infoheader">版本:1.0</div>
        <h1>欢迎 @RenderSection("BigTitle", true)</h1>
        <h4> 请选择你需要的功能</h4>
    </div>
    <div class="container">
        @RenderBody()
        @*<div class="row">
            <h1></h1>
            <div class="col-md-3 col-md-offset-7">
                <div class="btn-group-vertical btn-group-lg btn-block" role="group">
                    @RenderBody()
                </div>
            </div>
        </div>*@
    </div>
</body>
</html>

