<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <body>
        <div class="header">
            <div class="infoheader">版本:1.0</div>
            <h1>@RenderSection("SubTitle",true)</h1>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</body>
</html>
