<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/home.css" rel="stylesheet" />
	<link href="~/css/login.css" rel="stylesheet" />
	@RenderSection("cssfile", false)
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/jquery-2.2.2.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				
			</div>
		</div>
	</div>
</body>
</html>
