@{
	ViewBag.Title = "注册";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>用户注册</title>
	<script src="~/Scripts/jquery-2.2.2.min.js"></script>
	<link href="../../css/home.css" rel="stylesheet" />
	<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<div class="header">
		<div class="infoheader">版本:1.0</div>
		<h1>欢迎访问学生信息管理系统</h1>
	</div>
	<div class="container">
		<div class="content">
			<div class="form-signin">
				<form action="/Home/doRegister" method="post" class="loginform">
					<h2 class="form-signin-heading">用户注册</h2>
					<input value="u" type="text" class="input-block-level" name="studyid" placeholder="用户名" /><p></p>
					<input value="u" type="password" class="input-block-level" name="password" placeholder="密码"><p></p>
					<input type="submit" class="btn btn-block btn-warning" value="注册" />
				</form>
				<div class="info">@TempData["info"]</div>
			</div>
		</div>
	</div>
</body>
</html>