@model IEnumerable<XK.Models.xk_quote>

@foreach(var item in Model)
{

    <div class="panel panel-info">
        <div class="panel-heading">
            @item.q_user
        </div>
        <div class="panel-body">
            @item.q_content
        </div>
    </div>
}